
body{
    margin: 0;
  
}

.row-content{
    margin: 0px auto;
    padding-top: 60px;
}

.text{
    font-size: 30px;
    font-weight: bold;
    text-align: left; 
    text-shadow: 1px 1px 2px black;
   
}                    
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.bdr{
    display: flex;
    border: solid 1px black;
    border-radius: 0.5rem;
}

table{
    width: 95%;
    table-layout: fixed;
    margin: 20px auto;
    
}

table th{
   
    text-align: center;
}
table  td{
    
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-collapse: collapse;
}
.navbar-dark {
    background-color: rgb(19, 27, 77); 
}

#anchor1{
    color:white;
    text-decoration: none;
}
#anchor2{
    color:white;
    text-decoration: none;
}
#anchor3{
    color:white;
    text-decoration: none;
}




