
body{
    margin: 0;
  
}
.row-content{
    margin: 0px auto;
    padding-top: 70px;
}

.navbar-dark {
    background-color: rgb(19, 27, 77); 
}

.text{
    font-size: 30px;
    font-weight: bold;
    text-align: left; 
    text-shadow: 1px 1px 2px black;
   
}                    

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-width: 0; */
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.bdr{
    display: flex;
    border: solid 1px black;
    margin: 0 4% 2% 4%;
    border-radius: 0.5rem;
}

table{
    width: 95%;
    table-layout: fixed;
    margin: 20px auto;
    
}

table th{
   
    text-align: center;
}
table  td{
    
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-collapse: collapse;
}

button a{
    color: white;
}

button a:hover{
    color: white;
    text-decoration: none;
}


/* The Modal (background) */
.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /*Sit on top*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 252, 251); /* Fallback color */
    background-color: rgba(88, 6, 240, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-contents {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-headers {
    padding: 2px 16px;
    background-color: #6024a5;
    color: white;
  }
  
  .modal-bodys {padding: 2px 16px;}
  
  .modal-footers {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

