body{
    margin: 0;
    z-index: 1;
    /* background: radial-gradient(circle, #b162b9 0%, #5c939e 100%); */
    background:#fff;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: none;
}
.navbar{

    margin: 0px auto;
    padding: 15px 30px;
    background:  rgb(19, 27, 77);
    color: floralwhite; 
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    
}
  
