@import url('https://font.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    z-index: 1;
    background: radial-gradient(circle, #b162b9 0%, #5c939e 100%);
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: none;
}
#demo { 
    font-size: 40px; 
    width: 300px; 
    margin-left: 27%;
    margin-bottom: 1%;
    text-align: center; 
    border: 2px solid black; 
    border-radius: 20px; 
    align-items: center;
} 

#square {
	margin: 0px auto;
	width: 300px;
	height: 150px;
    border: 3px #333 solid;
    border-right: 3px #333 solid;
    border-bottom: 3px #333 solid;
}
#videoElement {
	width: 300px;
	height: 150px;
	background-color: #666;
}

.custom-box{
    max-width: 700px;
    background-color:#ffffff;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    width: 100%; 
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}
.custom-box.hide{
    display: none;
}

.home-box{
    background-color: whitesmoke;
}
.home-box h3{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;

}

.home-box p{
    margin-bottom: 10px;
    font-size: 16px;
    line-height:22px;
    color: #000000;
    font-weight: 400;
}

.home-box p span{
    font-weight: 500;
}
.home-box .btn{
    margin-top: 20px;
}

.btn{
    padding: 15px 45px;
    background-color: #5c0067;
    color: #ffffff;
    border: none;
    border-radius: 5px;   
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 20px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 2px black;
}
.btn.hide{
    display: none;
}
.btn a{
    color: white;
}
.btn a:hover{
    color: white;
    text-decoration: none;
}
.btn:hover{
    background-color: #009688;
    color: white;
    text-shadow: 3px 3px 4px black;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-button,
.quiz-box .answers-indicator{
    
    width: 100%;
    float: left;
}
.quiz-box{
    background-color: whitesmoke;
}
.quiz-box .question-number{
    font-size: 18px;
    color: #5c0067;
    font-weight: 800;
    font-style: oblique;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 25px;
}
.quiz-box .question-text{
    font-size: 22px;
    color:#000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;

}

.quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}
.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: green;
    height: 100%;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
    height: 100%;
    z-index: -1;
    animation: slideInLeaft .5s ease forwards;
}
.quiz-box .option-container .option.correct{
    color: #ffffff;
}
.quiz-box .option-container .option.wrong{
    color: #ffffff;
}*/

.quiz-box .option-container .option.marked::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(113, 151, 149);
    height: 100%;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.quiz-box .option-container .option.marked{
    color: #ffffff;
}


.quiz-box .btn{
    margin: 15px 0;
}

.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
    
}
.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

/*.quiz-box .answers-indicator div.correct{
    background-color: green;
    background-image: url("image/wrong.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-box .answers-indicator div.wrong{
    background-color:red;
    background-image: url("image/correct.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
*/
.quiz-box .answers-indicator div.marked{
    background-color: rgb(201, 201, 113);
    /*background-image: url("../image/mark.png");*/
    font-size: 25px;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}

.result-box{
    text-align: center;
    background-color: whitesmoke;
}
.result-box.hide{
    display: none;
}
.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #009688;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 20px;
}

.result-box .btn{
    margin-right: 20px;
}

@media(max-width : 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding: 15px;
    }
}



.navbar{
    margin: 0px auto;
    padding: 15px 30px;
    background:  rgb(19, 27, 77);
    color: floralwhite; 
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;   
}