
body{
    margin: 0;
    text-rendering: optimizeLegibility;
    z-index: 1;
}
.navbar-dark {
    background-color: rgb(19, 27, 77); 
}
.row-content{
    margin: 0px auto;
    padding-top: 70px;
    text-align: center;
    vertical-align: baseline;
}
 
.text{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


.footer {
    background-color: rgb(29, 26, 26);
    margin: 0px auto;
    padding: 20px 0px; 
    color: white;
}
.footer a{
    color: yellow;
}
table{
    table-layout: fixed;
    height: 100%;
    /*margin: 20px auto;*/
    border-collapse: collapse;
    border-spacing: 0;
}

table th{
    align-items: center;
    text-align: center;
}
table  td{
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-collapse: collapse;
}
td button {
    align-items: center;
}
.bdr{
    display: flex;
    border: solid 2px black;
    border-radius: 1rem;
}

button a{
    color: white;
}
button a:hover{
    color: yellow;
    text-decoration: none;
}
.carousel{
    background: #512DAB;
   
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.btn-block{
    position: relative;
    flex-direction: column;
}

