/* body {
	font-family: "Karla", sans-serif;
	background-color: lightskyblue;
	min-height: 100vh; 
}
  
  
  .login-section-wrapper {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			flex-direction: column;
	padding: 0 100px;
	background-color: #fff; 
}
	@media (max-width: 991px) {
	  .login-section-wrapper {
		padding-left: 50px;
		padding-right: 50px; 
	} 
}
	@media (max-width: 575px) {
	  .login-section-wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 100vh; 
	} 
}
  
  .login-wrapper {
	width: 300px;
	max-width: 100%;
	padding-top: 24px;
	padding-bottom: 24px; 
}
	@media (max-width: 575px) {
	  .login-wrapper {
		width: 100%; 
	} 
}
	.login-wrapper label {
	  font-size: 14px;
	  font-weight: bold;
	  color: #b0adad; 
	}
	.login-wrapper .form-control {
	  border: none;
	  border-bottom: 1px solid #e7e7e7;
	  border-radius: 0;
	  padding: 9px 5px;
	  min-height: 40px;
	  font-size: 18px;
	  font-weight: normal; 
	}
	  .login-wrapper .form-control::-webkit-input-placeholder {
		color: #b0adad; 
	}
	  .login-wrapper .form-control::-moz-placeholder {
		color: #b0adad; 
	}
	  .login-wrapper .form-control:-ms-input-placeholder {
		color: #b0adad; 
	}
	  .login-wrapper .form-control::-ms-input-placeholder {
		color: #b0adad; 
	}
	  .login-wrapper .form-control::placeholder {
		color: #b0adad; 
	}
	.login-wrapper .login-btn {
	  padding: 13px 20px;
	  background-color: #fdbb28;
	  border-radius: 0;
	  font-size: 20px;
	  font-weight: bold;
	  color: #fff;
	  margin-bottom: 14px; 
	}
	  .login-wrapper .login-btn:hover {
		border: 1px solid #fdbb28;
		background-color: #fff;
		color: #fdbb28; 
	}
	.login-wrapper a.forgot-password-link {
	  color: #080808;
	  font-size: 14px;
	  text-decoration: underline;
	  display: inline-block;
	  margin-bottom: 54px; 
	}
	  @media (max-width: 575px) {
		.login-wrapper a.forgot-password-link {
		  margin-bottom: 16px; 
		} 
	}
	.login-wrapper-footer-text {
	  font-size: 16px;
	  color: #000;
	  margin-bottom: 0; 
	}
  
  .login-title {
	font-size: 30px;
	color: #000;
	font-weight: bold;
	margin-bottom: 25px; 
}
  
  .login-img {
	width: 100%;
	height: 100vh;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: left;
	   object-position: left; 
	}
  
  
   */

   body{
    margin-top:50px;
    color: #1a202c;
    text-align: left;
	background-color: #e2e8f0;   
	background-image: url(../image/front_back.jpg);
  
}
.main-body {
	padding: 15px;
	
    
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    background-color: #fff;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
   
}

.card-body {
    
    padding: 1rem;
}


.bind{
	margin-bottom: 5px;
	padding-bottom: 6px;
	border-bottom: 1px solid black;
	
}
.bind input{
	outline: none;
	border:none;
	margin-left: 2px;
	background:none;
	width: 91%;
	font-size: 18px;
	color: black;
}
.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}


.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

button a{
    color: white;
}

button a:hover{
    color: white;
    text-decoration: none;
}

