/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background: url(../image/user_details.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  margin-top: 20%;
}

form {
  background: #fff;
  max-width: 50%;
  width: 100%;
  padding: 2% 8%;
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.row {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.row label {
  font-size: 150%;
  color: #8086a9;
 
}

.row input {
  flex: 1;
  padding: 2%;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
  
  width: 85%;
  height: 5%;
}

.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  color: #C8CDDF;
}

.btnn{
  margin-top: 4%;
  width: 80%;
 
  align-items: center;
}
.btnn button {
  
 
  font-size: 18px;
  background: #15C39A;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
  margin-left: 48%;
  
}

button:hover {
  background: #55D3AC;
}

@media(max-width: 458px) {
  
  body {
    margin: 0 18px;
  }
  
  form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 10% 0;
  }

}

.middle{
    text-align: center;
    color: black;
    text-decoration: none;
    padding-top: 50px;
}

.middle a{
    color: grey;
    font-weight: bold;
   
} */

body{
  margin-top:50px;
  color: #1a202c;
  text-align: left;
background-color: #e2e8f0;   
background-image: url(../../images/front_back.jpg);
 
}
.main-body {
padding: 15px;

  
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  background-color: #fff;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
 
}

.card-body {
  
  padding: 1rem;
}

.btn-block {
  padding: 10px 10px;
	  background-color: green;
	  border-radius: 0;
	  font-size: 20px;
	  font-weight: bold;
	  color: #fff;
	  margin-bottom: 14px; 
}
button a{
  color: white;
}
button a:hover{
  color: white;
  text-decoration: none;
}
.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}


.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

