<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Admin login</title>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <!-- build:css css/main.css -->
        <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
     <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
     <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
     
        <link rel="stylesheet" href="../../css/css/admin-login.css">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-6 mb-6 offset-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    
                                    <div class="mt-3">
                                      <h4>Login</h4>
                                      <form action="/admins/login" method="POST">
                                        <div class="form-group">
                                          
                                          <input type="email" name="email" id="email" class="form-control" value="aditya.iiestian@gmail.com" placeholder="email@example.com" required/>
                                        </div>
                                        <div class="form-group mb-4">
                                         
                                          <input type="password" name="password" id="password" class="form-control" value="Admin@123" placeholder="enter your passsword" required/>
                                        </div>
                                        <button  id="login" class="btn btn-block login-btn" type="submit">Log in</button>
                                      </form>
                                      <a href="./resetPassword" style="text-decoration: none;">Forgot password?</a>
                                      <br>
                                      <br>
                                      <br>
                                      <p> <a href="../" class="text-reset"><b><u><i>Home</i></u></b></a></p>
                                      
                                      <p>Please mail your concerns to gbye8334@gmail.com</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

