<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Reset Password</title>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <!-- build:css css/main.css -->
        <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
     <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
      
      <link rel="stylesheet" href="../../css/css/resetPassword.css">

    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-6 mb-6 offset-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                   
                                    <h4>Give your email id to reset password</h4>
                                    <div class="mt-3">
                                        <form action='/students/resetPassword' method='POST'>
                                            <div class="bind">
                                                <input type="email" name="email" id="email_address" placeholder="Email Address" required/>
                                            </div>   
                                            <br>
                                            <button class="btn btn-primary btn-lg">Reset Password</button>        
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
