<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <meta name = "viewport" content="width=device-width,  initial-scale=1">
        <!-- <link rel="stylesheet" href="../OS/start.css"> -->
        <link rel="stylesheet" href="../../css/css/instructions.css">
        
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
     <!-- build:css css/main.css -->
     <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
     <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
  
    <!-- endbuild -->
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="Navbar">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link" href="/students/sprofile"><span class="fa fa-user fa-lg"> Profile</span></a></li>
                                
                        </ul>
                        <span class="navbar-text">
                            <a href="/students/logout">
                                <span class="fa fa-sign-in"></span> Logout
                            </a>
                        </span>
                    </div>
                </div>
            </nav>
            <div class="row row-content">
                
                <div class="home-box custom-box">
                    
                        <!-- <img src="../image/open-source-exam-software.jpg" style="align-items: center;">
                        <br> -->
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p style="text-align: left;"><u>Welcome to the</u></p>
                        <br>
                        <p style="text-align: right;"><u>Online Examination</u></p>
                   
                    <button type="button" class="btn btn-lg justify-content-center" style="font-weight: bold; font-size: 25px; text-align: center;"><a href="/tests/quiz/<%=data%>">Start Quiz</a></button>    
                </div>
                
            </div>
        </div>
    </body>
</html>        