<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
    <link rel="stylesheet" href="../../css/css/verificationMessage.css">
</head>
<body>
    <div class="container">
        <div class="row row-content">
            <div class="col align-items-center">
                <h1 style="color: green;">Successfully registered !!</h1>
                <h2>Check your inbox and click on the activation clink to activate .</h2>
                <h3>If verified :<a href="/students/login">Login</a></h3>
            </div>
        </div>
    </div>
</body>
</html>