<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Successfully registered !!</h1>
    <h2>Check your inbox and click on the activation clink to activate.</h2>
    <h3>if verified :<a href="/students/login">Login</a></h3>
</body>
</html>