<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="../../css/css/instructions.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
    <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
  
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                            
                            <li class="nav-item"><a class="nav-link" href="/students/#"><span class="fa fa-bell fa-lg"> Exams Enrolled</span></a></li>
                          
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br>
   
          <div class="card border-primary mb-3">
            <div class="card-header">   <span style="font-size: 25px;"> DBMS - T01 | </span>  <span style="font-size: 25px;"> <%=data.admin.name%></span>   </div>
            <div class="card-body text-dark">
              <h3 class="card-title ">Instructions</h3>
              <p class="card-text"><h5 >1. Total number of questinos:<span class="total-question"> 10 </span></h5>
                <h5>2. All Questions are multiple choice quesions with four options each.</h5>
                <h5>3. There is no negative mrking.</h5>
                <h5>4. Make sure you save each question before moving to next question.</h5></p>
              <a href="/tests/quiz/<%=data._id%>" class="btn btn-primary">Start Test</a>
            </div>
          </div>
  </div>
            <!-- Optional JavaScript; choose one of the two! -->
        
            <!-- Option 1: Bootstrap Bundle with Popper -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
        
        <!-- <script src="../front/enrolled_students.js"></script> -->
</body>
</html>