<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home</title>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <!-- build:css css/main.css -->
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome/font-awesome.min.css">
        <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
     
        <link rel="stylesheet" href="css/css/admin-user.css">
    </head>

    <body>
       
            <main>
                <div class="container-fluid">
                  <div class="row">
                    
                    <div class="col-sm-6 px-0 d-none d-md-block">
                        <!-- <img src="../image/admin_user3.jpg" alt="login image" class="login-img"> -->
                        <div class="rounded-circle">
                          <!-- <img src="../image/logo3.png" alt="login image" class="login-img"> -->
                        </div>
                      </div>
                    <div class="col-sm-6 login-section-wrapper">
                      
                        <div class="login-wrapper my-auto">
                            <button class="btn btn-block login-btn" type="button"><a href="/admins/login">Admin</a></button>
                            <button class="btn btn-block login-btn" type="button"><a href="/students/login">User</a></button>
                            <button class="btn btn-block login-btn" type="button"><a href="/users/addAdmin">Controller</a></button>
                        </div>
                    </div>
                    
                  </div>
                </div>
              </main>
              
              <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>